<div class="modal-header mb-0 p-3">
    <h4 class="modal-title text-bold-500 font-medium-1">{{data.courseId? "Edit Course" :"Add Course"}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeClick()">
    </button>
</div>
<form [formGroup]="CourseForm" (ngSubmit)="AddEditSubmit()">
    <div class="modal-body" style="max-height:70vh ; overflow: auto;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 " style="padding:0px 15px;">
                    <label [ngStyle]="{color: isreadOnly? 'grey': 'black' }">Select Category</label>
                    <ng-select class="font-small-1" [items]="categoryList" bindLabel="categoryName" bindValue="categoryId"
                        placeholder="Choose One Option" formControlName="categoryId">
                    </ng-select>
                    <div *ngIf="CourseForm.controls['categoryId'].touched && !CourseForm.controls['categoryId'].valid">
                        <div *ngFor="let validation of validationMessages.value" class="has-danger">
                            <span class="form-control-feedback"
                                *ngIf="CourseForm.controls['categoryId'].hasError(validation.type) ">
                                {{validation.message}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-section">
                    <div class="col-12 text-bold-400"><h5>Course</h5></div>
                    <div class="col-12 float-right">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Course Title</mat-label>
                        <input matInput placeholder="Enter Course Title" formControlName="title">
                        <mat-error *ngIf="CourseForm.controls['title'].touched && !CourseForm.controls['title'].valid">
                            <mat-error *ngFor="let validation of validationMessages.value" class="has-danger">
                                <span class="form-control-feedback"
                                    *ngIf="CourseForm.controls['title'].hasError(validation.type) ">
                                    {{validation.message}}
                                </span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Icon</mat-label>
                        <input matInput formControlName="icon">
                        <mat-error *ngIf="CourseForm.controls['icon'].touched && !CourseForm.controls['icon'].valid">
                            <mat-error *ngFor="let validation of validationMessages.value" class="has-danger">
                                <span class="form-control-feedback"
                                    *ngIf="CourseForm.controls['icon'].hasError(validation.type) ">
                                    {{validation.message}}
                                </span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Value</mat-label>
                        <input matInput formControlName="value">
                        <mat-error *ngIf="CourseForm.controls['value'].touched && !CourseForm.controls['value'].valid">
                            <mat-error *ngFor="let validation of validationMessages.value" class="has-danger">
                                <span class="form-control-feedback"
                                    *ngIf="CourseForm.controls['value'].hasError(validation.type) ">
                                    {{validation.message}}
                                </span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 text-center">
                    <mat-form-field appearance="outline">
                        <mat-label>Time Duration</mat-label>
                        <input matInput formControlName="duration">
                        <mat-error *ngIf="CourseForm.controls['duration'].touched && !CourseForm.controls['duration'].valid">
                            <mat-error *ngFor="let validation of validationMessages.value" class="has-danger">
                                <span class="form-control-feedback"
                                    *ngIf="CourseForm.controls['duration'].hasError(validation.type) ">
                                    {{validation.message}}
                                </span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center" style="padding:0px 15px;">
                    <mat-form-field appearance="outline" style="width: inherit">
                        <mat-label>Description</mat-label>
                        <textarea matInput type="textarea" formControlName="description" style="margin-left: -5px;"></textarea>
                        <mat-error
                            *ngIf="CourseForm.controls['description'].touched && !CourseForm.controls['description'].valid">
                            <mat-error *ngFor="let validation of validationMessages.value">
                                <mat-error *ngIf="CourseForm.controls['description'].hasError(validation.type) ">
                                    {{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

    </div>
    <div class="modal-footer mb-0 p-2">
        <button class="btn btn-raised btn-secondary me-1 " type="button" [disabled]="loading" (click)="closeClick()">
            <i class="fa fa-close"></i> Cancel
        </button>
        <button class="btn btn-raised btn-primary" type="submit" [disabled]="!CourseForm.valid">
            <i class="fa fa-check-square-o"></i> {{data.courseId? "Update" :"Add"}}
        </button>
    </div>
</form>