<div class="filter-widget card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
        <div (click)="isCollapsed = !isCollapsed" class="filter-header p-2">
            <span class="filter-title"><i class="fa fa-search me-2"></i>Advanced Search Filters</span>
            <a [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter" style="float:right">
                <i class="fa fa-search" [ngClass]="{'fa-chevron-down': !isCollapsed, 'fa-chevron-up': isCollapsed}"></i>
            </a>
        </div>
        <div id="collapseFilter" [ngbCollapse]="!isCollapsed">
            <div class="filter-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Grade Name:</label>
                            <input type="text" class="form-control " formControlName="gradeName" placeholder="Search">
                            <div *ngIf="form.controls['gradeName'].touched && !form.controls['gradeName'].valid">
                                <div *ngFor="let validation of validationMessages.value" class="has-danger">
                                    <span class="form-control-feedback"
                                        *ngIf="form.controls['gradeName'].hasError(validation.type) ">
                                        {{validation.message}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-12">
                        <div class="form-group mb-0">
                            <button class="mb-2 me-2 btn-icon btn-shadow  btn btn-primary"
                                [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" type="submit"
                                [disabled]="!form.valid" style="margin-top: 10px;">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button class="mb-2 mr-2 btn-icon btn-shadow  btn btn-outline-danger " type="reset"
                                (click)="resetTable()">
                                <i class="fa fa-close"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12 " style="margin-top: 10px;">
        <button class="mb-2 mr-2 btn-icon btn-icon-only btn-shadow  btn btn-primary  float-end" (click)="AddEdit()"
            title="Add New"><i class="fa fa-plus "></i></button>
    </div>
</div>
<div class="material striped">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" style=" max-width: 100%;
            width: 100%;">
            <div class="row">
                <!-- Hashing -->
                <ng-container matColumnDef="sn.">
                    <th mat-header-cell *matHeaderCellDef> #. </th>
                    <td mat-cell *matCellDef="let gradeCriteria">{{gradeCriteria.serialNo}}</td>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let gradeCriteria">
                        <button mat-icon-button class="action-button" color="primary"
                            (click)="ViewgradeCriteria(gradeCriteria.gradingId)">
                            <i class="fa fa-eye me-2"></i>
                        </button>
                        <button mat-icon-button color="primary" (click)="AddEdit(gradeCriteria.gradingId)">
                            <i class="fa fa-edit me-1"></i>
                        </button>
                    </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="gradeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Name</th>
                    <td mat-cell *matCellDef="let gradeCriteria"> {{gradeCriteria.gradeName}} </td>
                </ng-container>
                <!-- Grade_S_R Column -->
                <ng-container matColumnDef="Grade_S_R">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Start Range</th>
                    <td mat-cell *matCellDef="let gradeCriteria"> {{gradeCriteria.grade_S_R}} </td>
                </ng-container>
                <!-- Grade_S_R Column -->
                <ng-container matColumnDef="Grade_E_R">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade End Range</th>
                    <td mat-cell *matCellDef="let gradeCriteria"> {{gradeCriteria.grade_E_R }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let gradeCriteria; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center;" class="mat-cell" [attr.colspan]="displayedColumns.length">
                        No data found.
                    </td>
                </tr>
            </div>
        </table>
        <mat-paginator [length]="count" (page)="pageChanged($event)" showFirstLastButtons
            [pageSizeOptions]="[5,10, 100, 200]">
        </mat-paginator>
    </div>
</div>